body {
  margin: 0;
}

.container {
  text-align: center;
}

p {
  color: transparent;
  filter: invert(1);
  margin: 0;
}

.headline {
  font-size: 56px;
}

.subheadline {
  font-size: 28px;
}

.location {
  font-size: 42px;
}

svg {
  height: 100%;
  width: 50%;
}

i {
  width: 50%;
  height: 500px;
  display: block;
  fill: none;
  filter: invert(1);
  margin: 0 auto;
}
