body {
  margin: 0;
  overflow: hidden;
}

.permission-scrim {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(18 22 31 / 80%);
  z-index: 100;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.btn-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  width: 260px;
  height: 300px;
}

.permission-btn {
  font-size: 24px;
  width: 240px;
  height: 64px;
  background: #ecf6ff;
  border: none;
  border-radius: 5px;
  color: #0e1116;
}

.skip-btn {
  font-size: 20px;
  margin-top: 32px;
  background: none;
  border: none;
  color: lightgray;
}

.tilt-data {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  font-size: 32px;
  color: black;
  background: white;
  width: 200px;
  height: 50px;
}

.container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.background {
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  object-fit: cover;
}

.cloud {
  --filter: drop-shadow(0 0 50px rgba(30, 35, 40, 0.5)) sepia(0.4)
    hue-rotate(170deg) brightness(0.85);
  position: absolute;
}

.cloud-0 {
  filter: blur(3px) var(--filter);
  width: 70%;
  max-width: 680px;
  top: 0;
  left: 20%;
  aspect-ratio: 9/2;
}

.cloud-1 {
  filter: blur(2px) var(--filter);
  width: 45%;
  max-width: 380px;
  top: 2%;
  left: -8%;
}

.cloud-2 {
  filter: blur(2px) var(--filter);
  width: 30%;
  max-width: 250px;
  top: 2%;
  right: 0;
  aspect-ratio: 9/7;
}

.cloud-3 {
  filter: blur(1px) var(--filter);
  width: 60%;
  max-width: 480px;
  top: 3%;
  right: 10%;
  aspect-ratio: 9/2;
}

.cloud-4 {
  filter: blur(0.5px) var(--filter);
  width: 70%;
  max-width: 600px;
  top: 1%;
  left: 3%;
  aspect-ratio: 9/4;
}

.rain {
  width: 110%;
  height: 110%;
  opacity: 0.8;
  object-fit: cover;
  filter: saturate(0.7);
}

.text {
  margin: 0;
  line-height: 1em;

  background: radial-gradient(
      farthest-corner at var(--percentFromLeft) var(--percentFromTop),
      #fdec96,
      transparent 30%
    ),
    linear-gradient(
      to bottom,
      #634f2c 0%,
      #cfc09f 15%,
      #edd090 30%,
      #e0bd56 50%,
      #84621f 85%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.text::after {
  background: none;
  content: attr(data-text);
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  text-shadow: -1px -1px 1px #3d290c, 1px 1px 1px #c6bb9f,
    0 0 20px rgba(30, 35, 40, 0.8), 0 0 50px rgba(30, 35, 40, 0.5);
}

/* .text::before {
  content: ' ';
  height: 100%;
  width: 50px;
  top: 2px;
  left: 50%;
  position: absolute;
  background: linear-gradient(transparent 5%, white 25%, transparent 50%);
} */

.headline {
  font-size: 56px;
  position: absolute;
  top: 20%;
  width: 100%;

  background: radial-gradient(
      farthest-corner at var(--percentFromLeft) var(--percentFromTop),
      #fdec96,
      transparent 30%
    ),
    repeating-linear-gradient(
      to bottom,
      #634f2c 0%,
      #cfc09f 7%,
      #edd090 15%,
      #e0bd56 25%,
      #84621f 45%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheadline {
  position: absolute;
  font-size: 32px;
  top: 40%;
  width: 100%;
}

.location {
  pointer-events: auto;
  position: absolute;
  font-size: 36px;
  top: 50%;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;

  background: radial-gradient(
      farthest-corner at var(--percentFromLeft) var(--percentFromTop),
      #fdec96,
      transparent 30%
    ),
    repeating-linear-gradient(
      to bottom,
      #634f2c 0%,
      #cfc09f 5%,
      #edd090 10%,
      #e0bd56 18%,
      #84621f 32%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map-container {
  pointer-events: auto;
}

.map {
  fill: #ffe3a6;
  position: absolute;
  width: 350px;
  height: 285px;
  left: 0;
  right: 0;
  top: 50%;
  bottom: auto;
  margin: auto;
  filter: drop-shadow(0 0 6px black);
}

.star-container {
  position: absolute;
  width: 350px;
  height: 285px;
  left: 0;
  right: 0;
  top: 50%;
  bottom: auto;
  margin: auto;
}

.star {
  font-size: 48px;
  position: absolute;
  top: 53%;
  left: 64%;
}

@media (min-width: 450px) {
  .headline,
  .location {
    background: linear-gradient(
      to bottom,
      #634f2c 0%,
      #cfc09f 15%,
      #edd090 30%,
      #e0bd56 50%,
      #84621f 85%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cloud-2 {
    top: -5%;
  }

  .cloud-4 {
    top: -8%;
  }

  .subheadline {
    top: 30%;
  }

  .map {
    bottom: 0;
    width: 550px;
    height: 450px;
  }

  .star-container {
    bottom: 0;
    width: 550px;
    height: 450px;
  }

  .star {
    top: 56%;
    left: 68%;
  }
}
