@teal: #2de2e6;
@magenta: #f706cf;
@orange: #ff6c11;
@yellow: #f9c80e;
@blue: #023788;
@purple: #650d89;
@dark-purple: #241734;

.neon-container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
  }

  .background {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  p {
    margin: 0;
  }

  .neon-text {
    font-family: Yellowtail;
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px var(--neon-color), 0 0 80px var(--neon-color),
      0 0 90px var(--neon-color), 0 0 100px var(--neon-color),
      0 0 150px var(--neon-color);
  }

  .afters {
    --neon-color: @teal;
    font-size: 84px;
    position: absolute;
    width: 100%;
    top: 5%;
  }
  .apt {
    --neon-color: @magenta;
    font-size: 60px;
    position: absolute;
    width: 100%;
    top: 25%;
    line-height: 1em;
  }
  .featuring {
    --neon-color: @orange;
    font-size: 48px;
    position: absolute;
    width: 100%;
    top: 46%;
  }

  .lineup {
    position: absolute;
    width: 90%;
    top: 58%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      --neon-color: @orange;
      color: #fff;
      font-size: 24px;
      margin: 0 8px;
      text-shadow: 0 0 10px #fff8, 0 0 19px var(--neon-color),
        0 0 40px var(--neon-color), 0 0 80px var(--neon-color);
    }
  }
}
