.karaoke-link {
  position: absolute;
  font-size: 50px;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  width: 64px;
  height: 64px;

  .microphone {
    width: 100%;
    height: 100%;
    fill: #fff8e3;
    filter: drop-shadow(0 0 5px #ffdb58) drop-shadow(0 0 15px #ffdb58);
  }
}

.spinner-bg {
  width: 100%;
  height: 100%;
  background: #d7e7ff;
  position: absolute;
  z-index: 100000;
  transition: opacity 0.5s;
  opacity: 1;

  &.fade-out {
    opacity: 0;
  }

  p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 100px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    animation: 0.5s bounce alternate infinite;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}